ul.box-category > li {
	border-top: 1px solid #eeeeee;
	padding-top: 9px;
	margin-bottom: 10px;
}
ul.box-category > li span{display:none; float:right; cursor:pointer; line-height: 18px;}
ul.box-category > li.sub_child  span.plus{display:inline}
ul.box-category > li.sub_child.opencate span.plus{display:none}
ul.box-category > li.sub_child.opencate span.minus{display:inline}
ul.box-category > li > a{}
ul.box-category > li .blog_child{}
ul.box-category > li.opencate .blog_child{display:block}
.block .block-content ol,
.block .block-content ul{
	list-style:none outside none;
	padding:0px;margin:0px;
 }
.article-filter .compare_display{width:auto}
.post-by, .comment-by {
    margin-right: 3px;
	font-size: 16px;
	font-weight: 300;
}
.post-by span{
	color: #fd4f4e;
	margin-left: 5px;
}
.product-layout .post-by span{
	font-size: 14px;
	background-image: url(../../image/author.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: left center;
	margin-left: 0;
}
.comment-by span {
    color: #FD4F4E;
	margin-left:5px;
}
.time-stamp {
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
}
.time-stamp small{
    font-size: 13px;
}
.comment-count {}
.comment-count a{
	font-size: 14px;
	font-weight: 300;
}
.comment-count span{}
.comment-count a:hover{text-decoration:underline}
/*Module post blog*/
.boss_block-recent-post{}
.boss_block-recent-post .block-content{}
.boss_block-recent-post .block-content ol{}
.block .block-content ol > li.item{margin-bottom: 21px;}
.block .block-content ol > li.item + li.item{
	border-top: 1px solid #ececec;
    padding-top: 19px;
}
.block .block-content ol > li.item a.article-title{
	line-height: 15px;
	font-size: 16px;
	color: #505050;
}
.block .block-content ol > li.item .recent-comment-content{
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 16px;
	font-weight: 300;
}
.boss_block-tag-cloud a{margin:0 6px 6px 0; padding:2px 5px; background:#f3f2f2; color:#818181; display: inline-block;}
.boss_block-tag-cloud a:hover{color:#fff; background:#0ca4da}
.rss-feed{float:left; margin:10px 15px 10px 0; display:none}
.bt-box.box-search .form-control{
	height: 32px;
    margin: 0;
    width: 100%;
}
/*product-layout-grid*/
.product-layout .article-image{margin-bottom:9px}
.product-layout .article-name{margin-bottom: 0;}

.product-layout .article-name a{
	color: #595959;
    font-family: "Open Sans",sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
}
.product-layout .article-name a:hover{color:#4bbfe5;}
.product-layout .article-footer{
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 300;
	display:none;
}
.article-layout{clear:both}
.article-layout + .bt_pagination{margin-top:40px}
.article-layout .product-layout{
    margin-top: 0;
}
.article-layout .product-layout + .product-layout .items{
	border-top: 1px dashed #999999;
    margin-top: 30px;
    padding-top: 30px;
	overflow:hidden;
}
.article-layout .product-grid{
	display: inline-block;
    float: none;
    margin-bottom: 40px;
    margin-right: -4px;
    overflow: hidden;
    vertical-align: top;
}	
.blogcategories-description{margin-bottom:25px; display:none}
/*product-layout-list*/
.article-layout .product-list .article-image{
	float: left;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 50%;
}
.article-layout .product-list .article-image.oc-even{float:right}
/*.article-layout .product-list .article-image img{width:100%}*/
.article-layout .product-list .article-name{margin-bottom:7px}
.article-layout .product-list .time-stamp{margin-bottom:10px}
.article-layout .product-list .time-stamp.hide-news{display:none}
.article-layout .product-list .time-stamp small{
	color: #f63787;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}
.article-layout .product-list .article-title{margin-bottom:15px}
.article-layout .product-list .comment-count{display:inline}
.product-layout .content_bg{margin-bottom:0}
/*detail*/

.boss_article-detail .article-title {
    margin-bottom: 12px;
}
.boss_article-detail .article-content {
    margin-bottom: 30px;
    margin-top: 15px;
	clear:both;
	line-height: 30px;
}
.oc-recruitment .boss_article-detail .article-content{margin-bottom: 90px;}
.boss_article-detail .article-content p span{color:#1694cf;}
.article-share{margin-bottom:30px; overflow:hidden; float:left}
.apply{float:right; margin-top: -38px; display:none}
.oc-recruitment .apply{display:block}
.apply .btn{
	border-radius: 5px;
    font-size: 16px;
    height: 54px;
    line-height: 52px;
    padding: 0 43px;
}
.boss_article-detail .article-content p.image {
    display: block;
    margin-bottom: 25px;
    text-align: center;
}
.boss_article-detail small {
    display: inline;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.oc-recruitment .boss_article-detail .article-title{
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 0;
	float:left;
}
.article-content h2{color:#1694cf; font-size:14px; font-weight:600; margin-bottom: 12px;}
.article-content p {
    margin-bottom: 17px;
}
.oc-recruitment .article-content p{margin-bottom:10px;}
.article-content ul{list-style: outside none disc; padding-left: 25px;}
.article-content ul li{line-height: 30px;}
.article-content .italic {
	font-style: italic;
	border: 3px solid #ececec;
	padding: 17px 20px 19px;
	margin: 40px 50px;
}
.article-content .date-post {
    border-bottom: 1px dashed #d9d9d9;
    border-top: 1px dashed #d9d9d9;
    margin-top: 25px;
    padding-bottom: 18px;
    padding-top: 13px;
}
.article-content span {
    font-weight: 600;
}
.boss_article-action {
	overflow: hidden;
	margin-bottom: 20px;
	border-top: 1px solid #ececec;
	padding-top: 20px;
}
.boss_article-action .tags {
    float: left;
    width: 68%;
}
.boss_article-action .tags span {
    float: left;
    margin-right: 23px;
}
.boss_article-action .tags ul li {
    display: inline;
}
.boss_article-action .tags li a {
    margin-right: 6px;
	text-decoration: none;
	color: #000000;
	font-size: 12px;
	text-transform: uppercase;
}
.boss_article-action .article-share {
    float: right;
    margin-top: 4px;
}
/*related article*/
.article-related {
    margin-bottom: 30px;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
}
.article-related ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.article-related li {
    display: block;
    margin-bottom: 6px;
}
.article-related li a {
    font-size: 16px;
	text-decoration: none;
}
/*comments*/
.comments{clear:both; display:none}
.comments h3{}
.comments .comment-item {
	margin-bottom: 6px;
	overflow: hidden;
	background: #ffffff;
	border: 1px solid #ececec;
	padding: 20px;
}
.comment-item-header {
	text-align: left;
	margin-bottom: 0;
}
.comment-item .comment-body {
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 300;
}
.comment-item-header .time-stamp, .comment-item-header .comment-by {
	border: medium none;
	float: none;
	margin-bottom: 0;
	padding: 0;
	width: auto;
	display: inline-block;
	background: none;
}

.form-comment-container .input-box {
    margin-bottom: 15px;
}
.comments .form-control {
    width: 59%;
}
.form-comment-container .captcha {
    margin-top: 15px;
}
.form-comment-container .captcha img {
    margin-bottom: 5px;
}
#blogsearch .btn{line-height:0}
.rss-content td h2{margin:10px 0 5px}
.box-content.rss-content td {
    padding-bottom: 10px;
}
.date-article {
	display: block;
	overflow: hidden;
	float: left;
}
.boss_article-item .date-article {
	margin-bottom: 40px;
}
.oc-recruitment .boss_article-item .date-article{float:right; margin-bottom:0}
.boss_article-item .post-by {
	float: left;
	margin-right: 25px;
}
.boss_article-item .post-by .author {
	color: #000000;
	font-size: 15px;
	font-weight: 400;
	background-image: url(../../image/author.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	margin-left:0;
	background-position: left center;
}
.boss_article-item .post-by .text{display:none;}
.boss_article-item .comment-count {
	float: left;
	margin-right: 25px;
}
.boss_article-item .comment-count .text{display:none}
.boss_article-item .number {
	background-image: url(../../image/comment.png);
	background-repeat: no-repeat;
	padding-left: 21px;
	font-size: 15px;
	background-position: left center;
	font-weight: 400;
}
.boss_article-item .date-post {
	float: left;
}
.boss_article-item .date-post .time-article.time-stamp {
	color: #f63787;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}
.boss_article-detail .article_button a {
	float: right;
	font-size: 12px;
	text-transform: uppercase;
	color: #000000;
}
.boss_article-detail .article_button a:hover{color:#fe4b4b}
.boss_article-detail .article_button .next a {
	float: right;
	background-image: url(../../image/blog_next.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 22px;
	margin-left: 20px;
}
.boss_article-detail .article_button .pre a {
	float: right;
	background-image: url(../../image/blog_prev.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 22px;
}
.boss_article-detail .article-image {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}
.oc-recruitment .boss_article-detail .article-image{display:none}
.boss_article-detail .article-title{
	color: #595959;
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}
.product-layout .read-more a{
	color: #02a7de;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}
.product-layout .read-more a i{
	font-size: 17px;
    margin-right: 8px;
    vertical-align: -1px;
}
.oc-recruitment h1{
	color: #0ca4da;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 45px;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
.oc-recruitment h1:before{
	background: none repeat scroll 0 0 #0ca4da;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 73px;
}
.oc-recruitment .article-layout .product-list .article-image{
	margin-top: 4px;
    padding-right: 20px;
    width: 136px;
}
.oc-recruitment .article-layout .product-list .article_dt{
	overflow: hidden;
    float:none;
	width:auto;
}
.oc-recruitment .article-layout .product-list .article-image.oc-even{float:left}
.oc-recruitment .article-layout .product-list .time-stamp.hide-news{
	color: #555555;
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
}
.oc-recruitment .article-layout .product-list .time-stamp.hide-news small{color:#555555; font-size:14px; font-style: normal;}
.oc-recruitment .article-layout .product-list .article-name{margin-bottom:3px}
.oc-recruitment .article-layout .product-list .time-stamp.hide-rec{display:none}
.oc-recruitment .product-layout .article-name a{font-size:14px; color:#303030; font-weight: 600;}
.oc-recruitment .product-layout .article-name a:hover{color:#fd4f4e}
.oc-recruitment .article-layout .product-layout .items{padding-top: 10px; border-top: 1px dashed #999999;}
.oc-recruitment .article-layout .product-layout + .product-layout .items{margin-top:17px}
.oc-recruitment .blogcategories-description{display:none}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.boss_article-detail .article-title{font-size:25px;}
}
@media only screen and (max-width: 767px) {
	.article-grid .article-name{float:none;width:100%}
	.article-grid .article-image{text-align:center;float:none;margin-bottom:15px;overflow:hidden;}
	.article-grid .article-image img{width:100%!important;}
	.article-grid{margin-bottom:25px;}
	.article-footer{margin-top:10px;}
	.boss_article-action .tags{width:100%;}
	.boss_article-action .article-share{float:left;display:block;margin-top:10px;}
	.boss_article-action .tags li a{margin-right:17px;}
	.comments .form-control{width:100%;}
	.boss_article-detail .article-title{font-size:20px;}
	.article-content .italic{margin:10px}
	.article-layout .product-list .article-image{max-width:100%; margin:0 0 20px}
	.article-layout .product-list .article-image, .article-layout .product-list .article_dt, .article-layout .product-layout{padding:0}
	.oc-recruitment .article-layout .product-list .article-image{width:100%; padding:0; text-align:center}
	.oc-recruitment .article-layout .product-list .article-image img{margin:0 auto}
	.oc-recruitment .article-layout .product-list .article_dt{overflow:visible; clear:both}
	.oc-recruitment .apply{clear:both; margin:0; float:none}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {	
	.article-layout .product-grid{width:50%}
}	
