.content{
	z-index: 10;
}

/* Bigger then standard 960px (1280px) */
	@media only screen and (min-width: 1280px) {
		.hide-on-desktop, .hide-on-tablet { display: none !important;}
		
	}
	@media only screen and (min-width: 1024px) and (max-width: 1279px) {
		.hide-on-desktop, .hide-on-tablet, body.touch .cpanelContainer, body.touch .btn-quickshop, body.touch #boss_back_top { display: none !important;}
		
		#column-left + #column-right + #content .login-content .left{width:100%;margin-bottom:30px;}
		#column-left + #column-right + #content .login-content .right{width:100%;}
		#column-left + #column-right + #content .boss-static-category .detail{top:12%;}
		
	}
	@media only screen and (max-width: 1200px) {	
		
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {		
		a.sft_quickshop_icon { display:none!important}	
		
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		#container.boxed{ margin:10px}
		.boss_scroll{position:relative}
		body{-webkit-text-size-adjust: none; font-size:13px; }
		.hide-on-desktop, body.touch .cpanelContainer, body.touch .btn-quickshop, body.touch #boss_back_top{display:none!important}
		
		.product-info > .left + .right{padding:0;}
		.product-info > .left{padding:0;}
		.form-control{width:50%;}
		#column-left + #column-right + #content .login-content .left{width:100%;margin-bottom:30px;}
		#column-left + #column-right + #content .login-content .right{width:100%;}
		.category-list ul{width:45%;}
		#logo{margin:0 0 15px}
		.footer-social ul li a{width:35px; height:35px;line-height:45px;}
		.footer-social ul li a i{font-size:24px}
		.cart-total table{width:80%}
		.title_stay{display:none}
		.btn-cart{padding-left:20px; padding-right:20px}
	}
	@media only screen and (min-width: 992px) and (max-width: 1023px) {
		.boss-featured .boss-featured-article { padding: 0 10px 0 0;}
		.boss-featured .boss-featured-content{padding:0 0 0 10px;}
	}
	@media (min-width: 1200px) {
		#page-container.boxed{max-width:1220px}
	}
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {	
		header{padding:9px 0 15px;position:relative}
		#logo{margin-bottom:20px}
		#search{margin:0 0 20px}
		#top-links{margin:0 0 10px; width:100%; text-align:center}
		#top-links ul li{margin:0}
		#top-links ul li + li{margin:0 0 0 10px}
		#cart.dropdown_cart{position:static}
		#cart .dropdown-menu{left:0; right:auto}
		#container.boxed{ margin:10px}
		.row{margin:0}
		#bt_footer  .column{padding:0; margin:0 0 10px}
		.bt-newletter{text-align:center; margin:0 0 20px}
		.footer-other .payment{text-align:center; margin:0 0 20px}
		.footer-social{margin-top:0; text-align:center}
		.footer-social ul li{margin:0 2px}
		.powered-payment .logo-footer{width:100%; margin:0 0 10px; text-align:center}
		.powered-payment .footer-powered{clear:both}
		.boss_homefilter_tabs .list_carousel.responsive .image-cate{padding:0;}
		.boss_homefilter_tabs .list_carousel.responsive .image-cate img{width:100%}
		.tabs_content_container{padding:0}
		.frame_container > .container > .row{margin:0}
		.cpanelContainer, .hide-on-mobile, #cboxNext, #cboxPrevious, #cboxCurrent, .sft_quickshop_icon{display:none!important}
		.banner_slide .item.ship, .banner_slide .item.payment{margin:10px 0 0; width:100%}
		#column-left + #content, #column-right + #content{padding:0}
		.boss_homefilter_tabs .tabs_container::before{content:none}
		/*#content*/
		#column-right, #column-left { display:none}
		.login-content .left{width:100%;padding-right:0;}
		.login-content .right{width:100%;float:left;}
		.login-content .left{margin-bottom:30px;}
		.form-control, .register .form-control{width:100%;}
		.input-group .form-control{width:80%}
		.login-content{margin:0 -10px 20px}
		.login-content input[type="text"], .login-content input[type="password"]{width:100%;}
		
		.product-filter .btn-group,.product-filter .limit_sort, .product-filter .sort, .product-filter .limit{display:none;}
		.category-list ul{margin-bottom:15px;width:100%;}
		.product-list .product-thumb .image{max-width:100%; margin:0 0 10px}
		.pagination .links{float:none;width:100%;margin-bottom:5px;}
		.pagination .results{float:none;width:100%;}
		.product-info > .left{padding-right:0;margin-bottom:30px;}
		.product-related ul li{width:100%}
		#tab-write .form-control{width:100%;}
		.product-info h1{margin-bottom:10px;}
		.cart-module .panel-default .form-control{width:100%;}
		.checkout #accordion .form-control{width:100%}
		.checkout-content .left{width:100%;margin-bottom:30px;}
		.checkout-content .right{width:100%;padding-right:0;}
		.checkout-content #login .form-control,.checkout-content .left .form-control, .checkout-content .right .form-control{width:100%;}
		.product-grid > div{padding:0;}
		.product-grid{margin-left:0;margin-right:0; padding:0}
		.product-thumb .image img{margin-left:0}
		.product-grid .product-thumb .image{text-align:left}
		#column-left + #column-right + #content{padding:0;}
		.product-info .left, .product-info .right{padding:0; margin:0 0 20px}
		.product-info #product.have_option .cart_button{position:static;}
		.nav-tabs{margin-top:20px}
		.nav-tabs > li{width:100%; margin:0 0 -2px}
		.product-related ul li .product-thumb{display:block; margin:0 12px}
		.title_stay{display:none}
		
		.cart-info table thead, .wishlist-info table thead{display:none}
		.cart-info table , .cart-info table tr, .cart-info table tr td, .wishlist-info table , .wishlist-info table tr, .wishlist-info table tr td{display:block}
		.cart-info table tr, .wishlist-info table tr{clear:both; margin-bottom:20px}
		.cart-info .table > tbody > tr > td, .wishlist-info .table > tbody > tr > td{padding:5px 12px 5px 0}
		.cart-info table tr td, .wishlist-info table tr td{border:none!important; white-space:normal!important; text-align:left!important}
		.cart-info table tr td.image, .wishlist-info tbody .image{  float: left; width: 35%; margin-bottom:100px}
		.cart-info .table > tbody > tr > td.name, .wishlist-info .table > tbody > tr > td.name{width:65%; margin:0}
		.cart-info table tr td.name{margin-bottom:10px}
		.cart-info table tr td.name, .cart-info table tr td.quantity, .cart-info table tr td.price, .wishlist-info table tr td.name, .wishlist-info table tr td.quantity, .wishlist-info table tr td.price{  float: left; width: 65%;}
		.cart-info table tr td.model{display:none}
		.cart-info table tr td{
		  border: medium none;
		  float: none;
		  position: relative;
		  white-space: normal!important;
		  width: auto;
		  padding-bottom: 0;
		  text-align: left;
		  padding-left: 10px;
		  padding-right: 10px;
		}
		.cart-total{clear:both}
		.cart-total table{width:100%}
		.checkout .panel-default > .panel-heading h4, .checkout .panel-default > .panel-heading h4 a{font-size:11px}
		.checkout .left{margin-bottom:20px}
	}
	

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {		
		body{-webkit-text-size-adjust: none; }		
		.product-related ul li{width:50%}
		.form-control{width:80%;}
		.cart-module .form-control{width:80%;}
		.checkout-content #login .form-control, .checkout-content .left .form-control, .checkout-content .right .form-control{width:80%;}
		.login-content input[type="text"], .login-content input[type="password"]{width:80%;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) { 
		body{-webkit-text-size-adjust: none; }	
		.product-info > .left + .right, .login-content .right{padding:0}
	}

	